############################
# Dependencies
############################
node_modules/

############################
# Build outputs
############################
dist
dist-ssr

############################
# Vite
############################
.vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

############################
# pnpm
############################
pnpm-debug.log*

############################
# Logs
############################
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

############################
# Environment variables
############################
.env
.env.*
!.env.example

############################
# TypeScript
############################
*.tsbuildinfo

############################
# Cache
############################
.cache
.parcel-cache

############################
# Editor (WebStorm / JetBrains)
############################
.idea

############################
# OS
############################
.DS_Store

############################
# Local overrides
############################
*.local