.header {
    height: 72px;
    padding: 16px 40px;

    @media screen and (max-width: 767px) {
        height: 56px;
        padding: 8px 20px;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        height: 64px;
        padding: 12px 30px;
    }
}

.header-logo {
    width: 24px;
    height: 24px;

    @media screen and (max-width: 767px) {
        width: 16px;
        height: 16px;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        width: 20px;
        height: 20px;
    }
}

.header-title {
    @media screen and (max-width: 767px) {
        display: none;
    }
}