h1 {
    font-size: 40px;
    font-weight: 700;

    @media screen and (max-width: 767px) {
        font-size: 32px;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        font-size: 36px;
    }
}

h2 {
    font-size: 32px;

    @media screen and (max-width: 767px) {
        font-size: 24px;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        font-size: 28px;
    }
}

h3 {
    font-size: 24px;

    @media screen and (max-width: 767px) {
        font-size: 20px;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        font-size: 22px;
    }
}

h4 {
    font-size: 20px;

    @media screen and (max-width: 767px) {
        font-size: 16px;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        font-size: 18px;
    }
}

p {
    font-size: 16px;

    @media screen and (max-width: 767px) {
        font-size: 12px;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        font-size: 14px;
    }
}