@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

:root {
    color-scheme: light;

    --default-font-family: "Pretendard", ui-sans-serif, system-ui, -apple-system,
    "Segoe UI", Roboto, "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
    sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --text-primary: 40 50 60; /* Gray 800 */
    --text-secondary: 55 69 83; /* Gray 700 */
    --text-tertiary: 100 111 124; /* Gray 600 */

    --border-primary: 55 69 83; /* Gray 700 */
    --border-secondary: 172 180 187; /* Gray 500 */
    --border-tertiary: 208 214 219; /* Gray 300 */

    --surface-secondary: 241 242 244; /* Gray 100 카드/패널 */
    --surface-tertiary: 247 248 249; /* Gray 0 카드/패널 */
    --divider: 197 200 206; /* Gray 400 */

    /* CTA */
    --cta: 27 35 52; /* CTA 1/Default (Black) */
    --cta-hover: 54 65 76; /* CTA 1/Hover */
    --cta-pressed: 54 65 76; /* CTA 1/Pressed */

    /* Buy / Sell */
    --buy: 254 80 80; /* Buy - Primary (Red) */
    --buy-disabled: 255 167 167; /* Buy - Disabled (Red) */
    --sell: 59 110 255; /* Sell - Primary (Blue) */
    --sell-disabled: 157 182 255; /* Sell - Disabled (Blue) */
    --exchange-icon-bg: 208 214 219; /* Gray 300 */
}

.radix-themes {
    --default-font-family: "Pretendard", ui-sans-serif, system-ui, -apple-system,
    "Segoe UI", Roboto, "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
    sans-serif;
}